* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    padding: 10px 50px 10px;
    display: flex;
}

.header1 {
    color: #82A70C;
}

#data {
    color: darkgreen;
}

.main {
    background-color: #f4f4f4;
    padding: 10px 50px 100px 50px;
    align-items: center;
}

.emp {
    width: 100%;
    max-width: 540px;
    background: #fff;
    margin: 100px auto 20px;
    padding: 0px 30px 50px 20px;
    border-radius: 5px;
    box-shadow: 0px 3px rgba(0, 0, 0, 0.1);
    align-items: center;
    transform-origin: top;
    zoom: 1.05;
}

#username {
    box-sizing: border-box;
    padding-right: 60px;
    /*float: left; */
}

#name {
    width: 350px;
}

#pi {
    padding-right: 10px;
}

.gender {
    padding-right: 49px;
}


.dept {
    padding-right: 21px;
    
}

.salary {
    padding-right: 55px;
}

.date {
    padding-right: 32px;
}

#note {
    padding-right: 60px;
    position: relative;
    bottom: 25px;
}

#notes {
    width: 350px;
    height: 75px;
}


.buttons {
    display: flex;
    padding: 5px;
}

#submit {
    margin-left: 250px;
    padding: 5px;
}

#reset {
    margin-left: 10px;
    padding: 5px;
}

#cancel {
    padding: 5px;
}